<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet" href="{{static_url("css/bootstrap.min.css")}}"/>
    <link  rel="stylesheet" href="{{static_url("psqDialog/psqdialog.css")}}"/>
    <link  rel="stylesheet" href="{{static_url("css/base.css")}}"/>

    <style type="text/css">

    </style>
    {% block style %}{% endblock %}
</head>
<body>

<div class="foreground_box">
    <div id="top_float" class="top_float">
        <div class="user_operator">
            <div class="login_button">登陆</div>
            <div class="register_button">注册</div>
        </div>
    </div>
    <div id="header" class="header"></div>

    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="footer"></div>

</div>

<!--登陆界面-->
<div class="box-dialog" id="login_dialog">
    <div class="box-dialog-header">
        <div class="box-dialog_close"></div>
        <div class="clear:both"></div>
    </div>
    <div class="box-dialog-content">
        <div class="login_username"><input type="text" placeholder="用户名"/></div>
        <div class="login_password"><input type="password" placeholder="密码"/></div>
        <div class="login_userbutton">登 陆</div>
    </div>
</div>

<!--注册界面-->
<div class="box-dialog" id="register_dialog">
    <div class="box-dialog-header"><div class="box-dialog_close"></div><div class="clear:both"></div></div>
    <div class="box-dialog-content">
        <div class="register_username"><input type="text" placeholder="用户名"/></div>
        <div class="register_password"><input type="password" placeholder="密码"/></div>
        <div class="register_repeat"><input type="password" placeholder="确认密码"/></div>
        <div class="register_email"><input type="text" placeholder="邮箱"/></div>
        <div class="register_code_box"><input type="button" value="获取邮箱验证码" id="register_getbutton"/><input type="text" placeholder="" id="register_code"/></div>
        <div class="register_userbutton">注 册</div>
    </div>
</div>
</div>

</body>
<script type="text/javascript" src="{{static_url("js/jquery-3.0.0.min.js")}}"></script>
<script type="text/javascript" src="{{static_url("psqDialog/psqdialog.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/bootstrap.min.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/base.js")}}"></script>
{% block javascript %}{% endblock %}
<script type="text/javascript"></script>
<script>


</script>
</html>