                <html>
                    <body>
                        <p>
                         请输入用户名及密码
                        </p>
                        <form action="/login" method="post">
                            Username:<input type="text" name="username">
                            Password:<input type="password" name="password">
                            <input type="submit" value="sign in">
                        </form>
                    </body>
                </html>