.home_title{
    width:100%;
    height:150px;
}
.home_nav{
    height:280px;
}
.button_1,.button_2{
    float: left;
    width:120px;
    height:120px;
    border-radius: 60px;
    background-color: #00CD66;
}
.button_1{
    margin-left: 350px;
}
.button_2{
    margin-left: 160px;
}
.button_1:hover,.button_2:hover{
    cursor: pointer;
    box-shadow: 0 0 9px #00FF7F;
}
.split_line{
    width:100%;
    height:3px;
    background-color: #E0E0E0;
}
.function_introduce{
    width:100%;
    height:700px;
    background-color: #F0F0F0;
}
.left_nav{
    width:150px;
    height:700px;
    background-color: #e0e0e0;
}
.right_content{

}
.left_nav ul{
    list-style:none;

}
.left_nav ul li{
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    color:#333333;
    font-weight: 300;
    background-color: #e0e0e0;
    transition: background-color 1.5s;
    -moz-transition: background-color 1.5s; /* Firefox 4 */
    -webkit-transition: background-color 1.5s; /* Safari 和 Chrome */
    -o-transition: background-color 1.5s; /* Opera */
}
.left_nav ul li:hover{
    cursor: pointer;
    color:#ffffff;
    background-color: #6600FF;
    transition: background-color 1s;
    -moz-transition: background-color 1s; /* Firefox 4 */
    -webkit-transition: background-color 1s; /* Safari 和 Chrome */
    -o-transition: background-color 1s; /* Opera */
}
.function_enter{
    width:100%;
    height:800px;
}
.uploadForm{
    display: none;
}
.excel_content{
    height:300px;
    width:575px;
    overflow: auto;
}
.excel_table_th{
    height:10px;
    line-height: 10px;
    font-size:14px;
    font-weight: 500;
}
.excel_table_td{
    height:6px;
    line-height: 6px;
    font-size:8px;
}
.upload_img_box{
    width:100px;
    margin: 0 auto;
}
.upload_img_box img{
    width:90px;
    margin-top: -15px;
}
.upload_img_box img:hover{
    width:90px;
    cursor: pointer;
}