.home_title{
    width:100%;
    height:1px;
}
/*#2CA1E8
#2793E4
 */

.home_background{
    position: absolute;
    left:0;
    top:150px;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-image:url(../image/homebackground.png);
    z-index:0;
}
.home_nav{
    position: absolute;
    left:0;
    top:150px;
    width:100%;
    height:450px;
    z-index:2;
}
.home_buttons_box{
    width:1100px;
    height:450px;
    margin: 0 auto;
}
.home_left_logo{
    float:left;
    width:500px;
    height:350px;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-image:url(../image/homeLeftLogo.png);
    background-size: 450px;
}
.button_1,.button_2{
    float: right;
    margin-top: 120px;
    width:160px;
    height: 200px;

}
.button_1{
    margin-right: 100px;
}
.button_2{
    margin-right: 10px;

}
.button_1:hover #button1_img,.button_2:hover #button2_img{
    box-shadow: 0 0 10px #9AFE2E;
    animation: rotate-x 0.4s;
    -moz-animation: rotate-x 0.4s;	/* Firefox */
    -webkit-animation: rotate-x 0.4s;	/* Safari 和 Chrome */
    -o-animation: rotate-x 0.4s;	/* Opera */

}
.button_1:hover #button1_text,.button_2:hover #button2_text{
    box-shadow: 0 0 10px #9AFE2E;
    animation: rotate-x 0.4s;
    -moz-animation: rotate-x 0.4s;	/* Firefox */
    -webkit-animation: rotate-x 0.4s;	/* Safari 和 Chrome */
    -o-animation: rotate-x 0.4s;	/* Opera */
}


.button1_img,.button2_img{
    width:150px;
    height:150px;
    margin: 0 auto;
    border-radius: 75px;
    border: 3px solid #FFFFFF;
    background-size:100px 100px;
    background-position: 21px 21px;
    background-repeat: no-repeat;
}
.button1_img{
    background-image:url(../image/Introduction.png);
}

.button2_img{
    background-image:url(../image/Functions.png);
}

.button1_text,.button2_text{
    width:140px;
    height:34px;
    margin: 15px auto;
    text-align: center;
    line-height: 32px;
    color:#ffffff;
    border: 1px solid #FFFFFF;
}
@keyframes rotate-x {
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
/*  IE  */
@-ms-keyframes rotate-x {
    50% {
        -ms-transform: scaleX(0);
    }
    100% {
        -ms-transform: scaleX(1);
    }
}
/* Safari and Chrome*/
@-webkit-keyframes rotate-x {
    50% {
        -webkit-transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}
@-webkit-keyframes rotate-x-back {
    50% {
        -webkit-transform: scaleX(1);
    }
    100% {
        -webkit-transform: scaleX(0);
    }
}
/* Firefox  */
@-moz-keyframes rotate-x {
    50% {
        -moz-transform: scaleX(0);
    }
    100% {
        -moz-transform: scaleX(1);
    }
}
/*  Opera  */
@-o-keyframes rotate-x {
    50% {
        -o-transform: scaleX(0);
    }
    100% {
        -o-transform: scaleX(1);
    }
}

.split_line{
    width:100%;
    height:3px;
    background-color: #E0E0E0;
}

.uploadForm{
    display: none;
}
.excel_content{
    height:300px;
    width:575px;
    overflow: auto;
}
.excel_table_th{
    height:10px;
    line-height: 10px;
    font-size:14px;
    font-weight: 500;
}
.excel_table_td{
    height:6px;
    line-height: 6px;
    font-size:8px;
}
.upload_img_box{
    width:100px;
    margin: 0 auto;
}
.upload_img_box img{
    width:90px;
    margin-top: -15px;
}
.upload_img_box img:hover{
    width:90px;
    cursor: pointer;
}
